$font-quicksand: Quicksand, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
$font-roboto: Roboto, -apple-system, BlinkMacSystemFont, Tahoma, sans-serif;
$font-open-sans: "Open Sans", "Segoe UI", Tahoma, sans-serif;

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  font-family: $font-roboto;
}

p {
  color: #8d96bd;
  font-family: $font-roboto;
  font-size: 15px;
  line-height: 29px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 43px;

  border: 0;
  border-radius: 2px;

  font-family: $font-quicksand;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;

  transition: background-color 0.2s ease-out;

  cursor: pointer;

  &--blue {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: #a8c4ff;
    }

    &:focus {
      outline: 2px solid #3a79ff;
    }
  }

  &--red {
    background-color: #ffd7d7;
    color: #d44848;

    &:hover {
      background-color: #ffa4a4;
    }

    &:focus {
      outline: 2px solid #d44848;
    }
  }
}

.buttons-group {
  display: flex;

  & .button {
    color: #adb4d2;

    background: transparent;
    border: solid 1px #d1d1e4;

    &--active {
      color: #ffffff;

      background-color: #4c85ff;
      border: none;

      box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);

      &:hover {
        background-color: #3a79ff;
      }
    }
  }

  & .button:first-child {
    border-radius: 2px 0 0 2px;
  }

  & .button:last-child {
    border-radius: 0 2px 2px 0;
  }
}

.slider {
  position: relative;

  &__controls {
    display: flex;
    justify-content: space-between;
    width: fit-content;
  }

  &__dot {
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: #d1d6e3;

    transition: 0.2s all;

    cursor: pointer;

    &:not(:first-of-type) {
      margin-left: 12px;
    }

    &:not(.slider__dot--active):hover {
      background-color: #a8c4ff;
    }

    &--active {
      background-color: #5283ff;

      cursor: auto;
    }
  }
}

.menu {
  display: flex;

  font-family: $font-quicksand;

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 75px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    width: 425px;
  }

  &__nav-item {
    text-align: center;
  }

  &__nav-link {
    color: #697ca6;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #5e81fe;
      font-weight: 700;
    }

    &::before {
      content: attr(data-title);

      display: block;
      height: 0;

      font-weight: 700;
      overflow: hidden;
      visibility: hidden;
    }
  }

  &__social {
    margin-left: auto;

    display: flex;
    align-items: center;
  }

  &__icons-list {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    width: 160px;
  }

  &__icons-item {
    line-height: 0;
  }

  &__icons-link svg path {
    transition: fill 0.3s;
  }

  &__icons-link:hover {
    & svg path {
      fill: #6188ff;
    }

    &#social-telegram {
      & svg path {
        &:first-child {
          fill: #4d6ce1;
        }
        &:nth-child(2) {
          fill: #3d4f9f;
        }
        &:last-child {
          fill: #5e80fe;
        }
      }
    }
  }
}

.section {
  overflow: hidden;

  &__title {
    color: #3d4f9f;
    font-family: $font-quicksand;
    text-align: center;
  }

  &__subtitle {
    color: #3d4f9f;
    font-family: $font-roboto;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    color: #8d96bd;
    font-family: $font-roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
  }
}

.header,
.footer {
  padding: 0 120px;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
}

.hero {
  height: 570px;

  background-color: #f4f7ff;

  &__slider {
    height: 100%;

    background-image: url("../img/hero.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    & .slider__controls {
      position: absolute;
      bottom: 28px;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  &__text-content {
    padding-top: 90px;

    text-align: center;

    z-index: 2;
  }

  &__title {
    margin: 15px 0 30px;

    font-style: normal;
    font-weight: 300;
    font-size: 48px;

    & b {
      font-weight: 500;
    }
  }

  &__description {
    margin: 0 auto;
    width: 500px;
  }

  &__play-button {
    position: absolute;
    left: calc(50%);

    padding: 0;
    width: 52px;
    height: 52px;

    border: none;
    border-radius: 50%;

    transform: translate(-50%, 20px);

    box-shadow: 0px 0px 10px rgba(201, 209, 231, 0.6);

    cursor: pointer;
    overflow: hidden;

    &:hover svg circle {
      fill: #d3e1ff;
    }

    &:focus {
      outline: 2px solid #3a79ff;
    }
  }
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;

  &__list {
    display: flex;
  }

  &__item {
    width: fit-content;

    &:hover svg path {
      fill: #5982e7;
    }

    &:not(:first-of-type) {
      margin-left: 77px;
    }
  }
}

.cta {
  height: 776px;

  background-color: #f5f8ff;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    height: 100%;
  }

  &__text-content {
    max-width: 415px;

    text-align: left;
  }

  &__subtitle,
  &__title,
  &__description {
    text-align: inherit;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;

    & strong {
      font-weight: 500;
    }
  }

  &__description {
    margin-bottom: 50px;
  }

  &__img {
    position: relative;
    top: 120px;
    right: 100px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 885px;

  background-image: url("../img/clouds.svg");
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__background {
    position: absolute;

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__clouds-left {
    background-image: url("../img/clouds_left.svg");
  }

  &__clouds-right {
    background-image: url("../img/clouds_right.svg");
  }

  &__features {
    display: flex;
    margin-bottom: 90px;
  }

  &__feature {
    &-item {
      display: flex;
      align-items: center;
      height: 254px;

      text-align: center;

      &-inner {
        width: 140px;
        height: 100%;
      }

      &:not(:first-of-type) {
        margin-left: 20px;

        &::before {
          display: block;
          margin-right: 20px;
          width: 28px;
          height: 1px;

          background-color: #dae4fe;

          content: "";
        }
      }
    }

    &-description {
      color: #adb3cb;
      line-height: 19px;
      font-size: 14px;
      font-weight: 500;
    }

    &-img {
      width: 70px;
      height: 70px;
    }

    &-title {
      margin-bottom: 25px;

      color: #4074f8;
      font-family: $font-open-sans;
      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 90px;
  }

  &__buttons {
    display: flex;

    &-divider {
      display: flex;
      align-items: center;

      color: #adb3cb;
      font-family: $font-open-sans;
      font-size: 11px;
      font-weight: 500;
    }

    &-divider::before,
    &-divider::after {
      display: block;
      margin: 0 16px;
      width: 15px;
      height: 1px;

      background-color: #dae4fe;

      content: "";
    }
  }
}
