$font-quicksand: Quicksand, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
$font-roboto: Roboto, -apple-system, BlinkMacSystemFont, Tahoma, sans-serif;
$font-open-sans: "Open Sans", "Segoe UI", Tahoma, sans-serif;

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  font-family: $font-roboto;
}

p {
  color: #8d96bd;
  font-family: $font-roboto;
  font-size: 15px;
  line-height: 29px;
}

.button {
  box-sizing: border-box;

  display: block;
  padding: 13px 15px;
  height: 43px;

  border: 0;
  border-radius: 2px;

  font-family: $font-quicksand;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;

  transition: background-color, color 0.2s ease-out;

  cursor: pointer;
  white-space: nowrap;

  &:focus {
    outline: 2px solid #3a79ff;
  }

  &--blue {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: #a8c4ff;
    }
  }

  &--red {
    background-color: #ffd7d7;
    color: #d44848;

    &:hover {
      background-color: #ffa4a4;
    }

    &:focus {
      outline: 2px solid #d44848;
    }
  }

  &--inactive {
    background-color: #e8ecf4;
    color: #7382a3;

    &:hover {
      background-color: #d1d1e4;
    }

    &:focus {
      outline: 2px solid #7382a3;
    }
  }
}

.buttons-group {
  display: flex;

  & .button {
    color: #adb4d2;

    background: transparent;
    border: solid 1px #d1d1e4;

    &:hover {
      color: #3a79ff;

      border-color: #3a79ff;
    }

    &--active {
      color: #ffffff;

      background-color: #4c85ff;
      border: none;

      box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);

      &:hover {
        color: #ffffff;

        background-color: #3a79ff;
      }
    }
  }

  & .button:first-child {
    border-radius: 2px 0 0 2px;
  }

  & .button:last-child {
    border-radius: 0 2px 2px 0;
  }
}

.slider {
  position: relative;

  &__controls {
    display: flex;
    justify-content: space-between;
    width: fit-content;
  }

  &__dot {
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: #d1d6e3;

    transition: background-color 0.2s;

    cursor: pointer;

    &:focus {
      outline: 2px solid #3a79ff;
    }

    &:not(:first-of-type) {
      margin-left: 12px;
    }

    &:not(.slider__dot--active):hover {
      background-color: #a8c4ff;
    }

    &--active {
      background-color: #5283ff;

      cursor: auto;
    }
  }
}

.menu {
  display: flex;

  font-family: $font-quicksand;

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 75px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    width: 425px;
  }

  &__nav-item {
    text-align: center;
  }

  &__nav-link {
    color: #697ca6;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #5e81fe;
      font-weight: 700;
    }

    &::before {
      content: attr(data-title);

      display: block;
      height: 0;

      font-weight: 700;
      overflow: hidden;
      visibility: hidden;
    }
  }

  &__social {
    margin-left: auto;

    display: flex;
    align-items: center;
  }

  &__icons-list {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    width: 160px;
  }

  &__icons-item {
    line-height: 0;

    &--telegram:hover {
      & svg path {
        &:first-child {
          fill: #4d6ce1;
        }
        &:nth-child(2) {
          fill: #3d4f9f;
        }
        &:last-child {
          fill: #5e80fe;
        }
      }
    }
  }

  &__icons-link svg path {
    transition: fill 0.3s;
  }

  &__icons-link {
    &:hover,
    &:focus {
      & svg path {
        fill: #6188ff;
      }
    }
  }
}

.section {
  overflow: hidden;

  &__title {
    color: #3d4f9f;
    font-family: $font-quicksand;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }

  &__subtitle {
    color: #3d4f9f;
    font-family: $font-roboto;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    color: #8d96bd;
    font-family: $font-roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
  }
}

.header,
.footer {
  padding: 0 120px;
}

.header,
.footer__main {
  display: flex;
  align-items: center;
  height: 80px;
}

.hero {
  height: 570px;

  background-color: #f4f7ff;

  &__slider {
    height: 100%;

    background-image: url("../img/hero.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    & .slider__controls {
      position: absolute;
      bottom: 28px;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  &__text-content {
    padding-top: 90px;

    text-align: center;

    z-index: 2;
  }

  &__title {
    margin: 15px 0 30px;

    font-style: normal;
    font-weight: 300;
    font-size: 48px;

    & b {
      font-weight: 500;
    }
  }

  &__description {
    margin: 0 auto;
    width: 500px;
  }

  &__play-button {
    position: absolute;
    left: calc(50%);

    padding: 0;
    width: 52px;
    height: 52px;

    border: none;
    border-radius: 50%;

    transform: translate(-50%, 20px);

    box-shadow: 0px 0px 10px rgba(201, 209, 231, 0.6);

    cursor: pointer;
    overflow: hidden;

    &:hover svg circle {
      fill: #d3e1ff;
    }

    &:focus {
      outline: 2px solid #3a79ff;
    }
  }
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;

  &__list {
    display: flex;
  }

  &__item {
    width: fit-content;

    &:hover svg path {
      fill: #5982e7;
    }

    &:not(:first-of-type) {
      margin-left: 77px;
    }
  }

  &__link:focus svg path {
    fill: #5982e7;
  }
}

.cta {
  height: 776px;

  background-color: #f5f8ff;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    height: 100%;
  }

  &__text-content {
    max-width: 415px;

    text-align: left;
  }

  &__subtitle,
  &__title,
  &__description {
    text-align: inherit;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;

    & strong {
      font-weight: 500;
    }
  }

  &__description {
    margin-bottom: 50px;
  }

  &__img {
    position: relative;
    top: 120px;
    right: 100px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 885px;

  background-image: url("../img/clouds.svg");
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__background {
    position: absolute;

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__clouds-left {
    background-image: url("../img/clouds_left.svg");
  }

  &__clouds-right {
    background-image: url("../img/clouds_right.svg");
  }

  &__features {
    display: flex;
    margin-bottom: 90px;
  }

  &__feature {
    &-item {
      display: flex;
      align-items: center;
      height: 254px;

      text-align: center;

      &-inner {
        width: 140px;
        height: 100%;
      }

      &:not(:first-of-type) {
        margin-left: 20px;

        &::before {
          display: block;
          margin-right: 20px;
          width: 28px;
          height: 1px;

          background-color: #dae4fe;

          content: "";
        }
      }
    }

    &-description {
      color: #adb3cb;
      line-height: 19px;
      font-size: 14px;
      font-weight: 500;
    }

    &-img {
      width: 70px;
      height: 70px;
    }

    &-title {
      margin-bottom: 25px;

      color: #4074f8;
      font-family: $font-open-sans;
      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 90px;
  }

  &__buttons {
    display: flex;

    &-divider {
      display: flex;
      align-items: center;

      color: #adb3cb;
      font-family: $font-open-sans;
      font-size: 11px;
      font-weight: 500;
    }

    &-divider::before,
    &-divider::after {
      display: block;
      margin: 0 16px;
      width: 15px;
      height: 1px;

      background-color: #dae4fe;

      content: "";
    }
  }
}

.stats {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 343px;

  font-family: $font-open-sans;

  &__customers {
    padding: 66px 90px 66px 0;

    background-color: #5e80ff;

    color: #ffffff;
    text-align: right;
  }

  &__users {
    padding: 66px 0 66px 90px;

    background-color: #e9efff;

    color: #5e80ff !important;
  }

  &__img {
    margin-bottom: 24px;
  }

  &__number,
  &__text {
    color: inherit;
    font-family: inherit;
  }

  &__number {
    margin: 0 0 25px;

    font-size: 48px;
    line-height: 1;
  }

  &__text {
    font-size: 18px;
  }
}

.blog {
  height: 865px;

  background-color: #f5f8ff;

  &__title {
    margin-bottom: 90px;
  }

  &__subtitle {
    margin-top: 100px;
  }

  &__slider {
    &-container {
      display: grid;
      grid-template-columns: 1fr 950px 1fr;
      grid-template-rows: 400px 1fr;
    }

    &-body {
      box-sizing: border-box;

      display: flex;
      gap: 65px;
      padding: 65px 40px;
      width: 950px;
      height: 400px;

      background-color: #ffffff;
      border: 1px solid #d8e3fe;

      box-shadow: 0px 15px 50px #eff4ff;
    }

    &-imgs-container {
      display: grid;
      grid-template-columns: repeat(3, 126px);
      grid-template-rows: repeat(2, 126px);
      gap: 12px;
    }

    &-img {
      grid-column: 3 / 4;

      &:first-of-type {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }

    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      place-self: center;
      padding: 0;
      width: 23px;
      height: 15px;

      border: none;
      background: transparent;

      cursor: pointer;

      &:hover svg path,
      &:focus svg path {
        stroke: #5283ff;
      }

      &--left {
        justify-self: end;
        margin-right: 75px;
      }

      &--right {
        justify-self: start;
        margin-left: 75px;
      }
    }

    &-text-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      margin: 0;

      color: #3d4f9f;
      font-family: $font-quicksand;
      font-size: 36px;
      font-weight: 400;
    }

    &-description {
      margin-bottom: 30px;
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-button {
      width: 210px;

      color: #a6b6da;
      font-family: $font-quicksand;
      font-size: 13px;
      font-weight: 700;

      background: transparent;

      &:hover {
        background: #eff4ff;
      }
    }

    &-controls {
      grid-column: 2 / 3;
      justify-self: center;
      margin-top: 100px;
    }
  }
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 480px;

  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);

  &__content {
    display: flex;
    gap: 130px;
    margin: 110px auto;
  }

  &__text-content {
    padding-top: 30px;
    width: 330px;

    text-align: left;
  }

  &__title,
  &__subtitle {
    text-align: left;
  }

  &__subtitle {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 36px;
    margin: 0;
  }

  &__slider {
    position: relative;

    display: flex;

    &-current {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 260px;
    }

    &-item {
      box-sizing: border-box;

      padding: 40px 70px 60px 70px;
      width: 425px;
      height: 175px;

      background: #ffffff;
      border: 1px solid #d8e3fe;

      box-shadow: 0px 5px 50px #f3f5fa;
    }

    &-description {
      margin: 0;

      font-size: 14px;
    }

    &-img {
      position: relative;

      display: block;
      margin: 0 auto;

      top: 13px;

      z-index: 2;
    }

    &-next {
      position: absolute;
      left: 120%;

      opacity: 0.5;
    }
  }
}

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 965px;

  &__content {
    font-size: 15px;
  }

  &__list {
    width: 745px;
    height: fit-content;
  }

  &__item {
    color: #8e96b7;
    font-family: $font-quicksand;
    font-weight: 400;
    font-size: 15px;

    border-bottom: 1px solid #d8e3fe;

    &-header {
      display: flex;
      align-items: center;

      cursor: pointer;
    }

    &-title {
      font-size: inherit;
    }

    &-icon-unfold {
      margin: 0 25px;
    }

    &-content {
      display: none;
    }

    &--active &-content {
      display: flex;
      align-items: center;
      margin-left: 80px;
      gap: 50px;
    }

    &--active &-icon-unfold {
      transform: rotate(180deg);
      & path {
        stroke: #495274;
      }
    }

    &--active &-header {
      color: #495274;
    }
  }
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;

  background-color: #6586ff;
  background-image: url("../img/clouds_start.svg");
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title,
  &__subtitle,
  &__description {
    color: #ffffff;
  }

  &__title {
    margin: 0 0 30px 0;

    font-size: 48px;
    font-weight: 300;

    & strong {
      font-weight: 500;
    }
  }

  &__subtitle {
    margin: 0 0 15px 0;
  }

  &__description {
    margin: 0 0 60px 0;
    width: 700px;
  }

  &__buttons-group {
    & .button {
      &:hover {
        color: #ffffff;

        border-color: #ffffff;
      }

      &:focus {
        color: #ffffff;

        border-color: #ffffff;

        outline: 2px solid #ffffff;
      }
    }

    & .button--active {
      color: #565f82;

      background-color: #ffffff;

      box-shadow: none;

      &:hover {
        color: #ffffff;

        background-color: #4d6ce1;
      }

      &:focus {
        color: #565f82;
      }
    }
  }
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }

  &__title,
  &__description {
    text-align: left;
  }

  &__title {
    margin: 0 0 18px 0;

    font-weight: 700;
    font-size: 18px;
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 15px;

    &-bar {
      box-sizing: border-box;

      padding: 20px;
      width: 280px;
      height: 60px;

      color: #7a85ad;
      font-family: $font-quicksand;
      font-size: 13px;
      font-weight: 700;

      background-color: #efeff7;
      border: none;
      border-radius: 5px;

      &:focus {
        outline: 2px solid #3a79ff;
      }
    }

    &-button {
      width: 185px;
      height: 60px;

      color: #ffffff;

      background-color: #4d6ce1;
      border-radius: 5px;

      box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);

      &:hover {
        background-color: #4c85ff;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 290px;

  &__main {
    margin-bottom: 30px;
  }

  &__copyright {
    margin-left: 100px;

    color: #aeb8d0;
    font-family: $font-quicksand;
    font-weight: 500;
    font-size: 12px;
  }
}
